fastapi==0.115.0
uvicorn==0.32.0
pydantic==2.9.2
pydantic-settings==2.6.0
SQLAlchemy==2.0.36
sqlmodel==0.0.22
asyncpg==0.30.0
python-multipart==0.0.12
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
requests==2.33.1
jinja2==3.1.6
